@use "./variables" as var;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @media (max-width: 1024px) {
    font-size: 50%;
  }
}

body {
  font-family: "Futura PT", sans-serif;
  background-color: var.$color-1;
}
