@use "./variables" as var;

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // grid-column: 1fr;
  column-gap: 5rem;

  @media (max-width: 1024px) {
    display: flex;
  }

  @media (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.card {
  perspective: 150rem;
  position: relative;
  height: 50rem;
  width: 30rem;

  @media (max-width: 1440px) {
    width: 24rem;
  }

  @media (max-width: 768px) {
    flex: 0 0 40%;
    margin-top: 4rem;
  }

  @media (max-width: 690px) {
    flex: 1 0 60%;
    height: auto;
    margin-top: 4rem;
    position: relative;
  }

  &__side {
    background-color: var.$color-3;
    height: 50rem;
    transition: all 0.6s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 4px;

    @media (max-width: 690px), (hover: none) {
      height: auto;
      position: relative;
      transform: rotateY(0);
    }

    &--front {
    }

    &--back {
      background-color: var.$color-3;
      transform: rotateY(180deg);
      background-image: linear-gradient(to right bottom, var.$color-2, var.$color-3);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 12rem;

      @media (max-width: 690px) {
        transform: rotateY(0);
        gap: 2rem;
        padding: 3rem 0 1rem 0;
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  @media (max-width: 690px) {
    &:hover &__side--front {
      transform: rotateY(0);
    }
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__picture {
    height: 20rem;
    background-size: cover;
    background-position: bottom;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    @media (max-width: 690px) {
      height: 30rem;
    }

    &--1 {
      background-image: url(../images/desert.jpg);
    }

    &--2 {
      background-image: url(../images/forest.jpg);
    }

    &--3 {
      background-image: url(../images/sea-2.jpg);
    }

    &--4 {
      background-image: url(../images/sky.jpg);
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    color: var.$color-4;

    &__name {
      font-size: 3rem;
      font-weight: 500;

      @media (max-width: 1440px) {
        font-size: 2rem;
      }

      @media (max-width: 1024px) {
        font-size: 1.5rem;
      }

      @media (max-width: 690px) {
        font-size: 5.5rem;
      }
    }

    &__text {
      font-size: 1.1rem;
      font-weight: 300;

      @media (max-width: 690px) {
        font-size: 1.5rem;
      }
    }

    & ul {
      list-style: none;

      & li {
        font-size: 1.5rem;
        padding: 0.5rem;
        text-align: center;

        @media (max-width: 690px) {
          font-size: 2.5rem;
        }

        &:not(:last-child) {
          border-bottom: 1px solid var.$color-4;

          @media (max-width: 1024px) {
            padding-bottom: 0;
          }
        }
      }
    }
  }

  &__price-value {
    font-size: 5rem;
    font-weight: 500;
    color: var.$color-4;

    @media (max-width: 1024px) {
      font-size: 4rem;
    }
  }

  &__btn {
    border-radius: 6rem;
    background-color: var.$color-2;
    padding: 2rem 4rem;
    font-size: 1.3rem;
    font-weight: 400;
  }
}
