@use "./variables" as var;

.cta {
  max-width: 120rem;
  margin: 0 auto;
  padding-bottom: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: 690px) {
    display: flex;
    flex-direction: column-reverse;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    color: var.$color-4;

    & h2 {
      font-size: 3.5rem;
      line-height: 1.5;

      @media (max-width: 768px) {
        font-size: 2rem;
      }

      @media (max-width: 690px) {
        font-size: 4rem;
      }

      @media (max-width: 425px) {
        font-size: 3rem;
      }
    }

    & p {
      font-size: 2rem;
      line-height: 2;
      margin-bottom: auto;
      text-align: center;

      @media (max-width: 768px) {
        font-size: 1rem;
      }

      @media (max-width: 690px) {
        font-size: 2.5rem;
      }
    }
  }

  &__btn {
    font-size: 2rem;
    font-weight: 400;
    align-self: center;
    border: none;
    transition: all 0.3s;

    @media (max-width: 768px) {
      margin-top: 5rem;
    }

    &:hover {
      transform: translateY(-1.5px);
      color: var.$color-2;
    }
  }

  &__img {
    width: 100%;
  }
}
