@use "./variables" as var;

.sub-section {
  display: flex;
  align-items: center;
  gap: 12rem;
  padding: 6rem;

  @media (max-width: 768px) {
    gap: 6rem;
  }

  @media (max-width: 690px) {
    flex-direction: column-reverse;
    justify-content: center;
  }

  &__img-box {
    width: 60rem;
    flex: 0 0 50%;
  }

  &__img {
    width: 100%;
    object-fit: cover;
  }

  &__text {
    color: var.$color-4;

    & h1 {
      font-size: 4.5rem;
      font-weight: 700;
      text-align: center;

      @media (max-width: 768px) {
        font-size: 3rem;
      }
    }

    & p {
      font-size: 1.5rem;
      font-weight: 400;

      @media (max-width: 768px) {
        font-size: 1.2rem;
      }
    }
  }
}

.card-section {
  // background-color: #fff;

  &__text {
    color: var.$color-4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h2 {
      font-size: 4rem;
      font-weight: 500;
    }

    & p {
      font-size: 1.5rem;
      font-weight: 300;
      width: 70%;
    }
  }
}
