/************************************
* #2C3333
* #2E4F4F
* #0E8388
* #CBE4DE
************************************/
// Colors
$color-1: #2c3333;
$color-2: #2e4f4f;
$color-3: #0e8388;
$color-4: #cbe4de;
